*.pyc
# Ignore all pycache files
__pycache__/
# ignore output files
outpu*/
save_model/
test_output/
*.log
z_compare*
new*/
test*

# 忽略自带文件
*ade*
*coco*
*mapillary*
register_medical.py
*mapper.py
mask2former/modeling/pixel_decoder/ops/